
<!DOCTYPE html>
<html>
  <!DOCTYPE html>
  <head>
    <title>Error</title>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/Plugins/css/notie.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
      <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel='stylesheet' href='/stylesheets/style.css' />
    	<link rel='stylesheet' href='/stylesheets/sidenav.css' />
    	<link rel='stylesheet' href='/stylesheets/CommunityStyle.css' />

  <style type="text/css">
  	.btns{
		margin-top:20px;
		margin-botton-20px;
		margin-right:10px;
	}
  .errpic{
    height: 400px;
  }
  @media only screen and (max-width: 768px) {
    .errpic{
      height: 200px;
    }
  }
  .rotate {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform
}

.rotate:hover {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360def)
}
  </style>
  </head>
  <body>
  <div class="container" style="padding-top:100px">
        <center>
          <img src="/images/404.png" class="errpic rotate">
        </center>

        <center>
        <div class="alert allSides" style="background:#222D3C;color:#fff;">
          <p>
            <strong>Error: Not Found</strong>
          </p></div>
        </center>
  </div>

</body>
</html>
